.searchBar input {
    height: 40px;
    padding: 0 0 0 10px;
    border: 0px;
    font-size: 1.2rem;
    background-color: whitesmoke;
}
.searchBar input::placeholder {
    text-align: right;
    transition: 0.1s ease-out;
}
.searchBar input:focus {
    outline: none;
    border-bottom:2px solid;
}
.searchBar input:focus::placeholder{
    transform: translateX(-70%);
}